$dark-text-title: #FFFFFF;
$dark-text-body-primary: #92929D;
$dark-text-body-secondary: #9A9AB0;
$dark-text-field-primary: #21242E;

$dark-primary-85: #001B33;
$dark-primary-70: #005099;
$dark-primary-50: #0D8BFF;
$dark-primary-30: #66B6FF;
$dark-primary-10: #CCE7FF;

$dark-secondary-85: #2F1B04;
$dark-secondary-70: #8E520B;
$dark-secondary-50: #EE952D;
$dark-secondary-30: #F4B871;
$dark-secondary-10: #FBE7D0;

$dark-accept-primary-85: #023121;
$dark-accept-primary-70: #059462;
$dark-accept-primary-50: #09F6A3;
$dark-accept-primary-30: #71FACA;
$dark-accept-primary-10: #CEFDED;

$dark-accept-secondary-85: #330011;
$dark-accept-secondary-70: #990033;
$dark-accept-secondary-50: #FF0054;
$dark-accept-secondary-30: #FF6699;
$dark-accept-secondary-10: #FFCCDD;

$dark-warning: #FFC839;
$dark-error: #F04461;
$dark-success: #13FF71;
$dark-info: #404557;

$dark-background-primary: #1F1D2B;
$dark-background-secondary: #252836;

$dark-icon: #9A9AB0;
$dark-progress: #2D3241;
$dark-image-placeholder: #2E354B;
$dark-disabled: #E0E0E0;

