$light-text-title: #11142D;
$light-text-body-primary: #92929D;
$light-text-body-secondary: #9A9AB0;
$light-text-field-primary: #F6F6F7;
$light-text-field-secondary: #FFFFFF;
$light-link-primary: #FFFFFF;

$light-primary-85: #181485;
$light-primary-70: #2A23C2;
$light-primary-50: #5541D7;
$light-primary-30: #766EDA;
$light-primary-10: #DBD7F4;

$light-secondary-85: #0B528E;
$light-secondary-70: #117BD4;
$light-secondary-50: #2D96EE;
$light-secondary-30: #55AAF1;
$light-secondary-10: #D0E7FB;

$light-accept-primary-85: #287161;
$light-accept-primary-70: #3CAA91;
$light-accept-primary-50: #42BDA1;
$light-accept-primary-30: #77CFBB;
$light-accept-primary-10: #D9F2EC;

$light-accept-secondary-85: #915108;
$light-accept-secondary-70: #D9790C;
$light-accept-secondary-50: #F2870D;
$light-accept-secondary-30: #F5A851;
$light-accept-secondary-10: #FCE7CF;

$light-warning: #EEAF22;
$light-error: #F04461;
$light-success: #41DA7E;
$light-info: #F1F1F6;

$light-background-primary: #FFFFFF;
$light-background-secondary: #F7F7FC;

$light-icon: #9A9AB0;
$light-progress: #E2E2EA;
$light-image-placeholder: #E2E2EA;
$light-disabled: #E0E0E0;
$light-separator: #E1E1E1;
